/.idea
/node_modules
/public/hot
/public/build
/public/js
/public/css
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.dusk*
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
