#dictionary {
    #titre_corps {
        margin-bottom: 30px;
    }

    .btn {
        margin-top: 10px;
    }

    nav.letters {
        margin-top: 25px;
        margin-bottom: 30px;

        ul.pagination-custom {
            list-style: none;
            padding-inline-start: 0;

            li {
                display: inline;

                .page-link {
                    border-radius: 10px;
                }

                .page-link:hover {
                    border: 1px solid #9d6b39;
                    color: #cc6600;
                }
            }
        }
    }
}
