#dictionary {
    .btn {
        margin-top: 10px;
    }
    nav.letters {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .card {
        margin-bottom: 30px;

        .quick-link i {
            color: #aaa;
        }
    }
}
