#podcast {
  margin: 0 auto;
  width: 66.66666667%;
  padding-left: 12px;
  padding-right: 12px;

  h1 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 10px;
  }

  audio {
    width: 100%;
    margin: 14px auto 22px;
  }
}

@media (max-width: 800px) {
  #podcast {
    width: 90%;
    padding: 0;
  }
}

.podcast-help-form {
  display: flex;
  align-items: center;

  .podcast-help-form-input {
    min-width: 300px;
    margin-right: 10px;
  }
}
