#pre-tests-form {
  margin: 0 auto;
  width: 66.66666667%;
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 800px) {
  #pre-tests-form {
    width: 90%;
    padding: 0;
  }
}

.pre-test-form-wrapper {
  width: 100%;
  flex: 0 0 auto;
  line-height: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

#pre-qualification {
  margin: 0 auto;
  width: 66.66666667%;
  padding-left: 12px;
  padding-right: 12px;

  .questionnaire-group {
    margin-top: 20px;
    margin-bottom: 30px;

    p {
      margin-bottom: 6px;
    }
  }

  #final-thought {
    p {
      font-weight: bold;
      text-align: center;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #e8dbcd;
      border: 1px dashed #9d6b39;
    }

    .explanation {
      margin-top: 20px;
    }
  }
}

@media (max-width: 800px) {
  #pre-qualification {
    width: 90%;
    padding: 0;
  }
}

.final-thought {
  font-weight: bold;

  &.ok {
    color: #51b02c;
  }

  &.some-problems {
    color: #9fb711;
  }

  &.not-ok {
    color: #cc3838;
  }
}
