#qcm {
  .questionnaire-group {
    margin-bottom: 20px;

    p {
      margin-bottom: 10px;
    }
  }

  #final-thought {
    p {
      font-weight: bold;
      margin-bottom: 0;

      span {
        margin-bottom: 10px;
      }
    }

    .explanation {
      margin-top: 10px;
    }
  }
}

.final-thought {
  font-weight: bold;

  &.ok {
    color: green;
  }

  &.not-ok {
    color: red;
  }
}
