// Cf pre_qualifications.scss

#qcm {
  margin: 0 auto;
  width: 66.66666667%;
  padding-left: 12px;
  padding-right: 12px;

  .questionnaire-group {
    margin-bottom: 20px;

    p {
      margin-bottom: 10px;
    }
  }

  #final-thought {
    p {
      font-weight: bold;
      margin-bottom: 0;

      span {
        margin-bottom: 10px;
      }
    }

    .explanation {
      margin-top: 10px;
    }
  }
}

@media (max-width: 800px) {
  #qcm {
    width: 90%;
    padding: 0;
  }
}

.final-thought {
  font-weight: bold;

  &.ok {
    color: green;
  }

  &.not-ok {
    color: red;
  }
}
