#qcm .questionnaire-group {
  margin-bottom: 20px;
}

#qcm .questionnaire-group p {
  margin-bottom: 10px;
}

#qcm #final-thought p {
  font-weight: bold;
  margin-bottom: 0;
}

#qcm #final-thought p span {
  margin-bottom: 10px;
}

#qcm #final-thought p span.ok {
  color: green;
}

#qcm #final-thought p span.not-ok {
  color: red;
}

#qcm #final-thought .explanation {
  margin-top: 10px;
}

